.mainAboutContainer {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.mainAbout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mainAbout-iconAndText mainAbout-image";
    gap: 3rem;

    &__text {
        grid-area: mainAbout-iconAndText;
        &__title {
            color: $tertiary-color;
            border-right: 4px solid $secondary-color;
            padding-right: 2rem;
            margin-bottom: 1rem;
        }
    }
    &__image {
        width: 100%;
        height: auto;
        border-radius: 20px;
        grid-area: mainAbout-image;
    }
    &__iconsAndText {
        display: flex;
        flex-direction: column-reverse;
        direction: rtl;
    }
    &__icons
    {
        grid-area: mainAbout-iconAndText;
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        &__icon {
            &__image {
                width: 100px;
                height: 100px;
                padding: 30px;
                margin:10px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba($primary-color, .3);
            }
            &__text {
                font-size: 14px;
            }
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}
@media screen and (max-width: 768px) {
    .mainAbout {
        display: flex;
        flex-direction: column;
        &__image {
            width: 70%;
            align-self: center;
        }
        &__icons {
            display: none;
        }
        &__text__title {
            height: 2rem;
        }
    }
}