@import '../../asset/sass/base/colors';

.TermAndConditionsIconContainer {
    box-shadow: 0 0 20px rgba($primary-color, .2);
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    opacity: 60%;
    filter: grayscale(100);
    
    &__text {
        color: $tertiary-color;
        text-align: center;
    }
    &__active {
        opacity: 100%;
        filter: grayscale(0);

    }
}