@import '../../../../asset/sass/base/colors';
@import '../../../../asset/sass/base/_defaults';


.bazarButtonContainer
{
    text-decoration: none;
}
.bazarButton {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.bazarButton:focus {
    border: none;
    outline: none;
}
