.RegisterPharmacyThirdFormContainer {
    display: flex;
    &__cards {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $background-color;
    }
    &__preview {
        width: 50%;
        direction: rtl;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3rem 0 0 0;
        &__placeName,
        &__placePhone,
        &__city,
        &__district,
        &__workingHours,
        &__fullAddress,
        &__fullName,
        &__medicId {
            width: 30%;
            direction: rtl;
            margin: 1rem 0;
        }
        &__fullAddress {
            width: 90%;
            text-align: right;
        }
        &__fullName,
        &__medicId {
            text-align: center;
            width: 50%;
        }
        &__line {
            width: 95%;
            height: 2px;
            margin: 1rem auto;
            background-color: lightgray;
            border-radius: 5px;
        }
        &__form {
            width: 90%;
            margin: 2rem auto;
            &__buttons {
                width: 100%;
                margin: 2rem auto;
                
            }
        }
    }
}