.RegisterPharmacyThirdFormContainer {
    display: flex;
    &__cards {
        width: 50%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $background-color;
    }
    &__preview {
        width: 50%;
        direction: rtl;
    }
    &__preview-row1 {
        display: flex;
        justify-content: space-around;
        margin: 2rem;
    }
    &__preview-row2 {
        display: flex;
        justify-content: space-around;
        margin: 2rem;

    }
    &__preview-row3 {
        display: flex;
        justify-content: space-around;
        margin: 2rem;
    }
    &__preview-row4 {
        display: flex;
        justify-content: space-around;
        margin: 2rem;
    }
}