.RegisterPharmacyFirstFormContainer {
    display: flex;
    justify-content: center;
    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        direction: rtl;
        width: 75%;
        &__error {
            height: 1rem;
            color: red;
            font-size: 14px;
        }
        &__fullName {
            width: 47%;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 14px;
                margin-right: 1rem;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__medicId {
            width: 47%;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 14px;
                margin-right: 1rem;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__placeName {
            width: 47%;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 14px;
                margin-right: 1rem;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__placePhone {
            width: 47%;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 14px;
                margin-right: 1rem;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__city {
            width: 47%;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 14px;
                margin-right: 1rem;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__district {
            width: 47%;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 14px;
                margin-right: 1rem;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__fullAddress {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: .5rem 0;
            &__label {
                font-size: 14px;
                margin-right: 1rem;
            }
            &__input {
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

                height: 2.5rem;
            }
            &__input:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__timeSection {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__boarding {
            display: flex;
            flex-direction: column;
            &__select {
                display: flex;
            }
            &__true {
                border: 1px solid rgb(167, 167, 167);
                height: 2.5rem;
                width: 6rem;
                font-size: 14px;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
                margin: .5rem;
            }
            &__true-active {
                border: 1px solid $primary-color;
                height: 2.5rem;
                width: 6rem;
                font-size: 14px;
                color: $primary-color;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
            }
            &__false {
                border: 1px solid rgb(167, 167, 167);
                height: 2.5rem;
                width: 6rem;
                font-size: 14px;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
                margin: .5rem;
            }
            &__false-active {
                border: 1px solid $primary-color;
                height: 2.5rem;
                width: 6rem;
                font-size: 14px;
                color: $primary-color;
                border-radius: 10px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;
            }
        }
        &__workTimeRange {
            display: flex;
            flex-direction: column;
            &__fromInput, &__toInput {
                width: 200px;
                height: 2.5rem;
                margin: 0px 1rem;
                border-radius: 10px;
                border: 1px solid rgb(167, 167, 167);

            }
            &__fromInput:focus, &__toInput:focus {
                border: 1px solid $primary-color;
                outline: none;
            }
        }
        &__button {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            margin: 1rem 0;
        }
        &__nextButton {
            flex-direction: row-reverse;
            display: flex;
            &__button {
                width: 10rem;
                height: 2.5rem;
                color: white;
                background-color: $primary-color;
                border: none;
                cursor: pointer;
                font-size: 1rem;
                border-radius: 10px;
                border: 2px solid $primary-color;
                margin: 0px .2rem;
                font-weight: bold;
            }
            &__button:focus {
                outline: none;
            }
        }
        &__uploadButton {
            flex-direction: row-reverse;
            display: flex;
            &__button::-webkit-file-upload-button {
                visibility: hidden;
            }

            &__button::before {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                content: "آپلود عکس داروخانه";
                // padding: 2.5rem 10rem;
                width: 10rem;
                height: 2.5rem;
                color: $primary-color;
                background-color: white;
                border: none;
                cursor: pointer;
                font-size: 1rem;
                border-radius: 10px;
                border: 2px solid $primary-color;
                margin: 0px .2rem;
                font-weight: bold;
            }
            &__button:focus {
                outline: none;
            }
        }

    }
}
.borderError,
.borderError:focus
{
    border: 1px solid red;
}