.RegisterPharmacyThirdFormContainer {
    display: flex;
    &__cards {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $background-color;
    }
    &__preview {
        width: 50%;
        direction: rtl;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3rem 0 0 0;
        &__placeName,
        &__placePhone,
        &__city,
        &__district,
        &__workingHours,
        &__fullAddress,
        &__fullName,
        &__medicId {
            width: 30%;
            direction: rtl;
            margin: 1rem 0;
        }
        &__fullAddress {
            width: 90%;
            text-align: right;
        }
        &__fullName,
        &__medicId {
            text-align: center;
            width: 50%;
        }
        &__line {
            width: 95%;
            height: 2px;
            margin: 1rem auto;
            background-color: lightgray;
            border-radius: 5px;
        }
        &__form {
            width: 90%;
            margin: 2rem auto;
            &__buttons {
                width: 100%;
                margin: 2rem auto;
                &__submit {
                    width: 10rem;
                    height: 2.5rem;
                    color: white;
                    background-color: $primary-color;
                    border: 2px solid $primary-color;
                    cursor: pointer;
                    font-size: 1rem;
                    border-radius: 10px;
                    border: 2px solid $primary-color;
                    margin: 1rem .2rem;
                    font-weight: bold;
                }
                &__edit{
                    width: 10rem;
                    height: 2.5rem;
                    color: $primary-color;
                    background-color: white;
                    border: 2px solid $primary-color;
                    cursor: pointer;
                    font-size: 1rem;
                    border-radius: 10px;
                    border: 2px solid $primary-color;
                    margin: 1rem .2rem;
                    font-weight: bold;
                }
            }
        }
    }
}
@media screen and (max-width: 968px) {
    .RegisterPharmacyThirdFormContainer {
        flex-direction: column;
        &__cards {
            width: 100%;
        }
        &__preview {
            width: 100%;
        }
        &__buttons {
            display: flex;
            flex-wrap: wrap;
        }
    }
}