@import '../../../asset/sass/base/colors';

.mainHeader {
    display: flex;
    direction: rtl;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    &__textAndButtons {
        &__title {
            color: $primary-color;
        }
        &__description {
            color: $dark-color;
        }
        &__buttons {
            display: flex;
            &__download {
                font-weight: bold;
                font-size: 1rem;
                width: 150px;
                height: 3rem;
                background-color: $primary-color;
                border: 2px solid $primary-color;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                margin: 4rem 1rem 0 1rem;
            }
            &__register {
                font-weight: bold;
                font-size: 1rem;
                width: 150px;
                height: 3rem;
                background-color: white;
                border: 2px solid $primary-color;
                color: $primary-color;
                border-radius: 10px;
                cursor: pointer;
                margin: 4rem 1rem 0 1rem;
            }
            &__register *{
                text-decoration: none;
                color: $primary-color;
            }

        }
    }
    &__image {
        width: 400px;
    }
}
@media screen and (max-width: 780px){
    .mainHeader {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        &__image{
            width: 70%;
        }
        &__textAndButtons {
            width: 70%;
            &__title, &__description {
                text-align: center;
            }
            &__buttons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                &__download, &__register {
                    margin: 1rem;
                }
            }
        }
    }
}