@import '../../../../asset/sass/base/colors';

.RegisterPharmacyMandatoryFormContainer {
    display: flex;

    &__cards {
        background-color: $background-color;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0px;
    }

    &__form {
        width: 50%;
        direction: rtl;
        padding: 2rem;
        &__head {
            display: flex;
            justify-content: space-between;
        }        
        &__fullName,
        &__medicId,
        &__placeName,
        &__placePhone {
            display: flex;
            flex-direction: column;
            margin: 1rem 0px;
            &__input {
                height: 2.5rem;
                border-radius: 10px;
                border: 2px solid $border-color;
                outline: none;
                width: 80%;
            }
            &__input:focus {
                border: 2px solid $primary-color;
            }
        }
        &__button {
            height: 3rem;
            width: 7rem;
            background-color: $primary-color;
            color: white;
            outline: none;
            border: none;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 1rem;
        }
    }
}
@media screen and (max-width: 930px) {
.RegisterPharmacyMandatoryFormContainer {
    flex-direction: column;
    &__cards {
        width: 100%;
        margin-top: 2rem;
    }
    &__cards div:not(:first-child) {
        display: none;
    }

    &__form {
        width: 100%;
        &__head {
            display: none;
        }
        &__fullName,
        &__medicId,
        &__placeName,
        &__placePhone {
            &__input {
                width: 100%;
            }
        }
    }
    }
}