@import '../../../asset/sass/base/colors';
@import '../../../asset/sass/base/defaults';

.mainFeatures {
    display: grid;
    grid-template-columns: 2fr .5fr;
    grid-template-rows: .2fr .5fr;
    grid-template-areas: 
    "mainFeatures-title mainFeatures-title"
    "mainFeatures-info mainFeatures-icons";
    gap: 2rem;
    &__title {
        grid-area: mainFeatures-title;
        direction: rtl;
        color: $tertiary-color;
        border-right: 4px solid $secondary-color;
        padding-right: 3rem;
        margin-bottom: .1rem;
        height: 2rem;
        vertical-align: middle;
    }
    &__icons {
        grid-area: mainFeatures-icons;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        justify-items: center;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    &__info {
        grid-area: mainFeatures-info;
        direction: rtl;
        width: 95%;
        margin-left: auto;
        &__description {
            margin-bottom: 2rem;
        }
        &__step1 {
            & > div {
                display: flex;
                flex-direction: row;
            }
            &__img {
                width: 2rem;
                height: 2rem;
                background-color: $background-color;
                border-radius: 50%;
                padding: .5rem;
                margin-left: 1rem;
            }
            &__description {
                padding: 1rem 4rem 1rem 0;
                border-right: 2px solid $background-color;
                font-size: 14px;
                margin-right: 1rem;
            }
        }
        &__step2 {
            & > div {
                display: flex;
                flex-direction: row;
            }
            &__description {
                padding: 1rem 4rem 1rem 0;
                border-right: 2px solid $background-color;
                margin-right: 1rem;
                font-size: 14px;
            }
            &__img {
                width: 2rem;
                height: 2rem;
                background-color: $background-color;
                border-radius: 50%;
                padding: .5rem;
                margin-left: 1rem;
            }
        }
        &__step3 {
            & > div {
                display: flex;
                flex-direction: row;
            }
            &__description {
                padding: 1rem 4rem 1rem 0;
                // border-right: 2px solid $background-color;
                font-size: 14px;
                margin-right: 1rem;
            }
            &__img {
                width: 2rem;
                height: 2rem;
                background-color: $secondary-color;
                border-radius: 50%;
                padding: .5rem;
                margin-left: 1rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    // .section {
    //     padding: 0;
    // }
    .mainFeaturesContainer {
        // width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    .mainFeatures {
        // width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__info {
            // width: 70%;
        }
        &__title {
            align-self: flex-end;
        }
        &__icons {
            grid-template-columns: .5fr .5fr .5fr .5fr;
            grid-template-rows: 1fr;
            column-gap: 0;
            display:flex;
            flex-wrap: wrap;
        }
    }
}

}