@import '../../../asset/sass/base/colors';
@import '../../../asset/sass/base/_defaults';

.mainFeaturesIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    box-shadow: 0 0 20px rgba($primary-color, .2);
    border-radius: 10px;
    margin: .5rem;
    // margin-top: 1rem;
    cursor: pointer;
    filter: grayscale(100);
    &__image {
        width: 45px;
        height: 45px;
    }
    &__title {
        font-size: 14px;
    }
}
.mainFeaturesIcon__active {
    filter: grayscale(0);
}