@import '../../../../asset/sass/base/_defaults';

.androidButtonContainer
{
    text-decoration: none;
}
.androidButton {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.androidButton:focus {
    border: none;
    outline: none;
}
