@import '../../../asset/sass/base/colors';

.aboutUs {
    &__header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        column-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 7rem;
        &__icons {
            display: flex;
            flex-direction: column;
            &__icon-1 {
                align-self: center;
            }
            &__icon-2 {
                align-self: center;
            }
            &__icon-3 {
                align-self: flex-start;
            }
        }
        &__textAndInput {
            display: flex;
            flex-direction: column;
            direction: rtl;
            width: 40%;
            &__input {
                background-color: whitesmoke;
                width: 500px;
                height: 3.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
                margin-left: auto;
                &__input {
                    background-color: whitesmoke;
                    border: none;
                    width: 250px;
                    height: 3rem;
                    margin-right: 2%;
                }
                &__input:focus {
                    outline: none;
                }
                &__button {
                    background-color: $primary-color;
                    color: white;
                    width: 80px;
                    height: 2.5rem;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    margin-left: 2%;
                }
                &__button:focus {
                    outline: none;
                }
            }
            &__title {
                color: $primary-color;
                margin: 2rem 0;
            }
            &__description {
                color: $dark-color;
                margin: 0 0 auto 0;
            }
        }

    }
}
@media screen and (max-width: 780px) {
    .aboutUs__header {
        display: flex;
        flex-direction: column-reverse;
        margin: 1.5rem 0;
        &__icons {
            align-self: center;
            & > div:not(:first-child) {
                display: none;
            }
        }
        &__textAndInput {
            width: 95%;
            &__description {
                margin-bottom: 2rem;
            }
            &__input {
                width: 90%;
            }
        }
    }

}