@import '../../../asset/sass/base/colors';

.AboutUsHeaderCard {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    box-shadow: 0 0 20px rgba($primary-color, .2);
    width: stretch ;
    height: 100px;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;    
    &__profile {
        // width: 50px;
        // height: 50px;
        padding: 5px;
        background-color: $primary-color;
        border-radius: 50%;
        color: white;
    }
    &__name {
        font-weight: bold;
        padding-right: 1rem;
    }
    &__address {
        display: flex;
        flex-direction: row;
        // padding-right: .5rem;
        &__text {
            color: $dark-color;
        }
        &__icon {
            margin-left: 5px;
            width: 13px;
            height: auto;
            color: $secondary-color;
        }
    }
    &__boarding {
        position: absolute;
        top: 20px;
        left: 20px;
        // direction: ltr;
        font-size: 12px;
        background-color: $primary-color;
        border-radius: 5px;
        color: white;
        padding: 0 5px;
        // align-self: flex-start;
    }

}