@import '../../../../asset/sass/base/colors';

.mainDownloadModal {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba($dark-color, .5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__card {
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 20px;
        padding: 50px;
        direction: rtl;
        display: flex;
        flex-direction: column;
        &__img {
            width: 150px;
            height: auto;
            align-self: center;
            margin-bottom: 2rem;
        }
        &__title {
            font-size: 1.2rem;
            color: $secondary-color;
            text-align: center;
        }
        &__desc {
            color: $dark-color;
            font-size: .95rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        &__button {
            width: 80%;
            height: 2.5rem;
            background-color: $primary-color;
            color: white;
            font-size: 1rem;
            border: none;
            border-radius: 10px;
            margin: 0 auto;
        }
    }
}