@import '../../../../asset/sass/base/colors';
@import '../../../../asset/sass/base/_defaults';

.sibAppButtonContainer {
    text-decoration: none;
}
.sibAppButton {
width: 170px;
height: 50px;
border: none;
border-radius: 10px;
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
cursor: pointer;
}