.inputError {
  border: 2px solid red !important;
}

.inputError__message {
  height: 1rem;
  color: red;
}

.contactUsFormAndMap {
  margin: 2rem 0;
}

.messageForm {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
}

.messageForm__form__input {
  height: 45px;
  border-radius: 10px;
  border: 2px solid #f2f2f2;
}

.messageForm__form__input:focus {
  border: 2px solid #1894ff;
  outline: none;
}

.messageForm__form__textarea {
  border-radius: 10px;
  border: 2px solid #f2f2f2;
}

.messageForm__form__textarea:focus {
  border: 2px solid #1894ff;
  outline: none;
}

.messageForm__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  direction: rtl;
  gap: 1rem;
}

.contactUsFormAndMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.messageForm__form__button {
  margin-top: 1rem;
  height: 45px;
  background-color: white;
  border: 2px solid #1894ff;
  border-radius: 10px;
}

.leaflet-container {
  border-radius: 10px;
  width: 40vw;
  height: 450px;
  margin-top: 2rem;
}

.contactUs__map__cover {
  font-size: 14px;
  position: relative;
  margin: 0 auto;
  top: 250px;
  z-index: 10000;
  width: 35vw;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 20px rgba(24, 148, 255, 0.5);
          box-shadow: 0 0 20px rgba(24, 148, 255, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: rtl;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-family: 'Yekan' ,'Courier New', Courier, monospace;
  overflow: visible;
}

.contactUs__map__cover__address {
  margin: auto 0;
  width: 45%;
}

.contactUs__map__cover__address__label {
  font-weight: bold;
}

.contactUs__map__cover__emailAndPhoneNumberContainer {
  margin: auto 0;
  width: 45%;
}

.contactUs__map__cover__email {
  margin: .5rem 0;
  font-weight: bold;
}

.contactUs__map__cover__email__value {
  color: #1894ff;
}

.contactUs__map__cover__phoneNumber {
  margin: .5rem 0;
  font-weight: bold;
}

.contactUs__map__cover__phoneNumber__value {
  color: #1894ff;
}

.inputError__message {
  height: .5rem !important;
}

@media screen and (max-width: 1100px) {
  .contactUsFormAndMap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .messageForm__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    margin: 3rem auto;
  }
  .leaflet-container {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
  }
  .contactUs__map__cover {
    width: 70vw;
    height: 35%;
  }
}

@media screen and (max-width: 584px) {
  .contactUs__map__cover__address {
    display: none;
  }
}
/*# sourceMappingURL=contactUs.css.map */