.inputError {
  border: 2px solid red !important;
}

.inputError__message {
  height: 1.3rem !important;
  color: red;
  font-size: 14px;
}

.slick-list, .slick-track {
  -ms-touch-action: none;
      touch-action: none;
}

.blue_section {
  background-color: #1894ff;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 2rem 0rem;
}

.title {
  color: #2361B5;
  direction: rtl;
  border-right: 3px solid #00DE9A;
  padding-right: 1rem;
  margin-right: 8rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  padding: 0rem 5rem;
  margin: 2rem 0rem;
}

.grid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid_item_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 20px rgba(24, 148, 255, 0.5);
          box-shadow: 0 0 20px rgba(24, 148, 255, 0.5);
  border-radius: 10px;
  padding: 2rem 1rem;
}

.grid_item p {
  margin-top: 1rem;
}

.pic img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 60%;
}

.speci {
  padding: 2rem 2rem;
}

.speci2 {
  padding: 2rem 0rem;
}

.speci3 {
  padding: 2rem 1.5rem;
}

.speci4 {
  padding: 2rem 0.6rem;
}

.ques {
  direction: rtl;
  padding: 2rem 7rem;
}

.que {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.que .plus div {
  background-color: #1894ff;
  width: 35px;
  height: 3px;
}

.que .txte {
  padding: 1rem;
  color: #2361B5;
  cursor: pointer;
}

.que .pl2 {
  -webkit-transform: rotate(90deg) translateX(-2px);
          transform: rotate(90deg) translateX(-2px);
}

.answer {
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}

.show {
  display: block;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  -webkit-animation-name: active;
          animation-name: active;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes active {
  from {
  }
  to {
    -webkit-transform: rotate(-90deg) translateX(-55px) translateY(-25px);
            transform: rotate(-90deg) translateX(-55px) translateY(-25px);
    background-color: #00DE9A;
  }
}

@keyframes active {
  from {
  }
  to {
    -webkit-transform: rotate(-90deg) translateX(-55px) translateY(-25px);
            transform: rotate(-90deg) translateX(-55px) translateY(-25px);
    background-color: #00DE9A;
  }
}

@media (max-width: 858px) {
  .grid {
    padding: 0;
  }
}

@media (max-width: 769px) {
  .title {
    margin-right: 1rem;
  }
}

@media (max-width: 730px) {
  .grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-row-gap: 30px;
    padding: 0rem 5rem;
  }
  .ques {
    padding: 2rem 2rem;
  }
}

@media (max-width: 502px) {
  .grid {
    padding: 0rem 2rem;
  }
}

@media (max-width: 411px) {
  .grid {
    padding: 0rem 1rem;
  }
  .ques {
    padding: 2rem 1rem;
  }
}

@media (max-width: 375px) {
  .grid {
    padding: 0rem 0rem;
  }
  .ques {
    padding: 2rem 1rem;
  }
  .ques .txte {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .grid {
    padding: 0rem 0rem;
  }
  .ques {
    padding: 2rem 1rem;
  }
}

@media (max-width: 352px) {
  .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 280px) {
  .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .ques {
    padding: 2rem 1rem;
  }
}

.padding {
  padding: 2rem;
}
/*# sourceMappingURL=faq.module.css.map */