@import './base/_defaults';
@import './component/Navbar';
@import './component/Logo';
@import './component/TextBanner';
@import './component/Support';
@import './component/Footer';
@import './component/BazarLogoButton';
@import './component/SibAppLogoButton';
@import './component/AndroidLogoButton';
@import './pages/contactUs';
@import './component/Map';
@import './pages/faq';
@import './component/FaqIcon';
@import './component/FaqIconList';
@import './component/FaqQuestion';
@import './component/FaqQuestionList';
@import './component/TermAndConditionsIcon';
@import './component/TermAndConditionsList';
@import './component/AboutUsHeader';
@import './component/AboutUsHeaderCard';
@import './component/AboutUsStatics';
@import './component/AboutUsServices';
@import './component/MainHeader';
@import './component/MainAbout';
@import './component/MainFeatures';
@import './component/MainFeaturesIcon';
@import './component/MainDownload';
@import './component/MainDownloadModal';
@import './component/RegisterModal';
@import './component/MainRegister';
@import './component/forms/RegisterPharmacy';
@import './component/forms/RegisterPharmacyDetail';
@import './component/ProgressBar';
@import './component/forms/RegisterPharmacyConfirm';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    font-family: 'yekan', Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.section {
    padding: 1% 5% 1rem 5%;
}