@import './base/_defaults';
@import './component/Navbar';
@import './component/Logo';
@import './component/TextBanner';
@import './component/Support';
@import './component/Footer';
@import './component/BazarLogoButton';
@import './component/SibAppLogoButton';
@import './pages/contactUs';
@import './component/FaqIcon';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    font-family: 'yekan', Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.section {
    padding: 1% 5% 1rem 5%;
}