@import '../../../asset/sass/base/colors';
.grid_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px $background-color;
        border-radius: 10px;
        padding: 2rem 1rem;
        margin: 1rem;
        width: 12rem;
        height: 12rem;
    }
    p {
        margin-top: 1rem;
    }
}

.pic {
    img {
        display: flex;
        margin: 0 auto;
        height: 6rem;
    }
}