@import '../../../asset/sass/base/colors';
@import '../../../asset/sass/base/_defaults';

.mainDownloadContainer {
    background-color: $primary-color;
    padding: 1% 5% 0 5%;
    margin: 4rem 0;
}
.mainDownload {
    display: flex;
    justify-content: space-around;
    direction: rtl;
    &__img {
        width: auto;
        height: 400px;
        align-self: flex-end;
    }
    &__info {
        align-self: center;
        
        &__title {
            color: white;
        }
        &__description {
            color: white;
            margin: 1rem 0 2rem 0;
        }
        &__input {
            background-color: whitesmoke;
            width: 450px;
            height: 3rem;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            flex-direction: row-reverse;
            align-items: center;
            margin: 1rem 0 1rem 0;
            &__input {
                width: 300px;
                height: 2.5rem;
                border: none;
                background-color: whitesmoke;
            }
            &__input:focus {
                outline: none
            }
            &__button {
                width: 6rem;
                height: 2.5rem;
                background-color: $primary-color;
                color: white;
                font-size: 1rem;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                
            }
            &__button:focus {
                outline:none;
            }
        }

    }
    &__icons {
        display: flex;
        justify-content: space-around;
        gap: 1rem;

    }
}
.inputError__message {
    height: 3rem !important;
}
@media screen and (max-width: 868px) {
    .mainDownload {
        flex-direction: column;
        &__icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__img {
            margin-top: 3rem;
            align-self: center;
        }
        &__info__input {
            width: 90%;
            display: flex;
            // justify-content: center;
            &__input {
                width: 50%;

            }
        }
    }
    .inputError__message {
        height: 2.2rem !important;
    }
    
}