@import '../../../asset/sass/base/colors';

.progressBarContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    direction: ltr;
    &__label {
        direction: rtl;
        font-size: 14px;
    }
    &__progress {
        background-color: $secondary-color;
        height: 10px;
        border-radius: 5px;
    }
    &__background {
        background-color: rgb(214, 214, 214);
        width: 100%;
        height: 10px;
        border-radius: 5px;
    }
}